body {
    background-color: #1BA1AD;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    height: 60rem;
}
 

body::before {
    content: "";
    position: absolute;
    background-image: url("../images/bg-pattern-bottom.svg");
    background-size: cover;
    bottom: -600px;
    right: -226px;
    padding: 31rem;
    transform: rotate(58deg);
  }
  
  body::after {
    content: "";
    position: absolute;
    background-image: url("../images/bg-pattern-top.svg");
    background-size: cover;
    top: -416px;
    left: -323px;
    padding: 31rem;
  }
  

.card-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin: auto;
    text-align: center;
    align-self: center;
   z-index: 1;
}

.card-header {
    background-color: white;
    border-radius: 20px;
box-shadow: 0px 2px 10px  black;
}

.card-bg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 9rem;
    width: 100%;
    background-image: url("../images/bg-pattern-card.svg");
  background-size: cover;
}
.card-image {
    border-radius: 50%;
    border: 3px solid whitesmoke;
    margin-top: -50px;
    margin-bottom: 20px;
}

.card-user {
    text-align: center;
    margin: 15px;
}

.card-title {
    text-align: center;
    margin: 15px;

}
.line{
    margin: 10px 0px;
    height: 0.1px;
    background-color: black;
    width: auto;
}
.card-bottom {
    display: flex;
    padding: 0px 20px 20px 20px;
    background-color: white;
 border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 10px;
}

.stat {
    padding: 19px;
}.grey{
    color: #999;
}
.attribution{
    text-align: center;
    margin-bottom: 200px;
}


















